.form-control {
    display: inline;
}

.bar {
    background-color: #008800;
}

.container-fluid {
    padding-top: 10px;
}

.container {
    margin-left: 20px;
}

.form-group > a {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-header {
    float: right;
}

.nav-apply {
    float: right;
    margin-right: 5px;
}

.nav-link {
    color: #ffffff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.record {
    width:200px;
    border: 1px solid white;
    font-size: 13px;
}

.record .details b {
    color: #005500;
}

.record .details {
    margin-left: 20px;
}

h2 {
    background-color: #008800;
    padding: 4px;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

select {
    display: block;
    margin-bottom: 4px;
}

.navigation b {
    display: block;
    margin-bottom: 10px;
}

.navigation {
    background-color: #007700;
    padding: 4px;
    color: white;
    margin-right: 15px;
}

#refinementsDiv {
    margin-bottom: 10px;
}

.key, #refinementsDiv b {
    color: #005500;
    font-weight: bold;
}

form a {
    color: white;
}

#famous {
    margin-left: 20px;
    margin-bottom: 20px;
}

label {
    cursor: pointer;
}

#refinementsDiv label {
    margin-right: 15px;
}

.navigationMetadataTitle {
    margin-left: 5px;
    font-size: 12px;
}

.navigationMetadata {
    margin-left: 15px;
    font-size: 10px;
}

.sitewideMetadata {
    margin-left: 15px;
    font-size: 12px;
}

.deleteCheckbox:hover {
    background-color: #229922;
}

.deleteCheckbox {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: #007700;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navLink {
    max-height: 200px;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 10px solid #007700;
    line-height: 12px;
    font-size: 11px;
}

.navLink b {
    font-weight: bolder;
}

.navLink a:hover {
    text-decoration: underline;
}

.navigation a {
    display: inline-block;
    font-size: 11px;
    margin-left: 4px;
    text-decoration: none;
    color: white;
}

#raw pre {
    margin-bottom: 10px;
}

#raw {
    background-color: #EEEEEE;
    padding: 3px;
    border-bottom: 1px solid #BBBBBB;
    margin-bottom: 10px;
    font-size: 12px;
}

.largeResponse {
    background-color: red;
    padding-left: 4px;
    padding-right: 4px;
}

.mediumResponse {
    background-color: orange;
    padding-left: 4px;
    padding-right: 4px;
}

.smallResponse {
    color: green;
}

#cookieForm {
    font-size: 12px;
}

.highlight {
    background-color: yellow;
    border: 1px solid yellow;
}